@font-face {
  font-family: "barlow";
  src: url("../fonts/barlow-regular.woff2") format("woff2"), url("../fonts/barlow-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "barlow";
  src: url("../fonts/barlow-bold.woff2") format("woff2"), url("../fonts/barlow-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "barlow", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
}

button,
select {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* HEADER */

.page-header {
  color: #48494d;
}

.page-header__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.menu,
.menu__wrap {
  display: flex;
  flex-grow: 1;
}

.menu__cats,
.menu__main,
.menu__user,
.page-footer__sections ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 534px;
  width: 56.4%;
  padding-right: 102px;
}

.user-nav {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0 0 0 20px;
}

.nav__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.no-js .menu {
  position: static;
  flex-grow: 1;
  height: auto;
  width: auto;
  transform: translateX(0);
}

.no-js .page-header__container {
  flex-direction: column;
}

.no-js .page-header__menu-toggle {
  display: none;
}

.no-js .logo {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.no-js .user-nav {
  justify-content: space-around;
  width: 100%;
  padding-top: 25px;
}

/* MAIN */

.main {
  flex-grow: 1;
  padding-bottom: 65px;
}

.main__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.notice__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notice__slider {
  flex-grow: 1;
  min-width: 684px;
  max-width: 870px;
  height: 397px;
}

.slider__content {
  width: 100%;
  height: 397px;
}

.action {
  position: relative;
  flex-direction: column;
  width: 270px;
  height: 397px;
}

.action,
.action.slick-slide {
  display: flex;
}

.action__fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 50px 0 0;
}

.action__footer {
  flex-grow: 1;
  margin-top: 12px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f0f0f4;
}

.countdown {
  display: flex;
  justify-content: center;
}

.search__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.search__fields {
  display: flex;
}

.search .search-input,
.search__fields input {
  flex-grow: 1;
}

.tabs__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 10px 0 25px;
}

.categories__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.categories__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.categories__item {
  width: 370px;
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
  height: 129px;
  margin-bottom: 30px;
}

.wares__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.wares__item.slick-slide,
.wares__list.slick-slider {
  display: flex;
}

.wares__list.slick-slider {
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}

.wares__item.slick-slide {
  flex-direction: column;
  position: relative;
  width: 270px;
  height: 403px;
}

.wares__fig {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.wares__figcaption,
.wares__price {
  max-width: 100%;
  margin-top: auto;
}

.banner__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-footer__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: content-box;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
}

.page-footer__form-row {
  display: flex;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.page-footer__sections {
  display: flex;
}

.page-footer__store ul {
  margin-right: -10px;
  column-count: 2;
  column-gap: 56px;
}
