*,
::after,
::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "barlow", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
}

button,
select {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.page-header {
  color: #48494d;
}

.page-header__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.menu,
.menu__wrap {
  display: flex;
  flex-grow: 1;
}

.menu__cats,
.menu__main,
.menu__user,
.page-footer__sections ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 534px;
  width: 56.4%;
  padding-right: 102px;
}

.user-nav {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0 0 0 20px;
}

.nav__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.no-js .menu {
  position: static;
  flex-grow: 1;
  height: auto;
  width: auto;
  transform: translateX(0);
}

.no-js .page-header__container {
  flex-direction: column;
}

.no-js .page-header__menu-toggle {
  display: none;
}

.no-js .logo {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.no-js .user-nav {
  justify-content: space-around;
  width: 100%;
  padding-top: 25px;
}

/* MAIN */

.tabs__list {
  margin: 0;
  list-style-type: none;
  padding: 10px 0 25px;
}

.categories__list {
  padding: 0;
  list-style-type: none;
  margin: 0 -15px;
}

.wares__list {
  padding: 0;
  list-style-type: none;
  margin: 0 -15px;
}

.top-filters__offers ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.left-filter__form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.left-filters__wrapper .wares__list {
  padding: 0;
  list-style-type: none;
  margin: 0 0 43px 10px;
}

.catalog__pagination-list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
}
